.passengerSelector {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  background: rgba(20, 20, 20, 0.9);
  border: 1px solid rgba(0, 255, 157, 0.2);
  border-radius: 12px;
  padding: 1rem;
}

.passengerCard {
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.passengerCard:hover {
  background: rgba(0, 255, 157, 0.2);
}

.selectedCard {
  background: rgba(0, 255, 157, 0.3);
  box-shadow: 0 0 10px rgba(0, 255, 157, 0.4);
}

.passengerIcons {
  display: flex;
  justify-content: center;
}

.passengerIcon {
  color: white;
  transition: transform 0.3s ease;
}

.passengerCard:hover .passengerIcon {
  transform: scale(1.2);
}

.passengerIconWrapper {
  display: flex;
  justify-content: space-around; /* Espaciado lateral entre los íconos */
  gap: 8px; /* Espacio entre los íconos */
  align-items: center; /* Alinea los íconos verticalmente */
}
